.slides-div h1 {
    font-size: medium;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'League Spartan', sans-serif;
}
.slides-div img {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    height: 200px;
    object-fit: cover;
}
.foods {
    background-color: orange;
    height: 85vh;
    zoom: 78%;
    overflow: hidden;
}
.slide-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.img-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    display: flex;
    left: 0;
    align-items: center;
    transition: 0.7s;
}
.slides-div {
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
    background-color: white;
    text-align: left;
    border-radius: 25px 0 25px 0;
    margin-left: 10px;
}
.img {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}
.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
}
.slides-div:hover{
    filter: brightness(80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 260px;
    height: 390px;
}

#slider-span1:target ~ .img-slider #img1,
#slider-span1:target ~ .img-slider #button-1 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span2:target ~ .img-slider #img2,
#slider-span2:target ~ .img-slider #button-2 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span3:target ~ .img-slider #img3,
#slider-span3:target ~ .img-slider #button-3 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span4:target ~ .img-slider #img4,
#slider-span4:target ~ .img-slider #button-4 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span5:target ~ .img-slider #img5,
#slider-span5:target ~ .img-slider #button-5 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span6:target ~ .img-slider #img6,
#slider-span6:target ~ .img-slider #button-6 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span7:target ~ .img-slider #img7,
#slider-span7:target ~ .img-slider #button-7 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span8:target ~ .img-slider #img8,
#slider-span8:target ~ .img-slider #button-8 {
    width: 380px;
    height: 570px;
    border-radius: 25px 0 25px 0;
    filter: saturate(100%);
}
#slider-span9:target ~ .img-slider #img9,
#slider-span9:target ~ .img-slider #button-9 {
    width: 380px;
    height: 570px;
    filter: saturate(100%);
    border-radius: 25px 0 25px 0;
}


#slider-span1:target ~ .img-slider{left: 50px;}
#slider-span2:target ~ .img-slider{left: 50px;}
#slider-span3:target ~ .img-slider{left: 50px;}
#slider-span4:target ~ .img-slider{left: 50px;}
#slider-span5:target ~ .img-slider{left: -50px;}
#slider-span6:target ~ .img-slider{left: -180px;}
#slider-span7:target ~ .img-slider{left: -450px;}
#slider-span8:target ~ .img-slider{left: -650px;}
#slider-span9:target ~ .img-slider{left: -850px;}


/* text opacity */
.text1{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text2{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text3{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text4{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text5{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text6{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text7{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text8{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}
.text9{
    opacity: 0;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 23px;
}



#slider-span1:target ~ .img-slider .text1 {
    opacity: 1;
}
#slider-span2:target ~ .img-slider .text2 {
    opacity: 1;
}
#slider-span3:target ~ .img-slider .text3 {
    opacity: 1;
}
#slider-span4:target ~ .img-slider .text4 {
    opacity: 1;
}
#slider-span5:target ~ .img-slider .text5 {
    opacity: 1;
}
#slider-span6:target ~ .img-slider .text6 {
    opacity: 1;
}
#slider-span7:target ~ .img-slider .text7 {
    opacity: 1;
}
#slider-span8:target ~ .img-slider .text8 {
    opacity: 1;
}
#slider-span9:target ~ .img-slider .text9 {
    opacity: 1;
}


/* Responsiveness */
@media (max-width:600px){

.foods {
    background-color: orange;
    height: 85vh;
    zoom: 60%;
    overflow: hidden;
}

#slider-span1:target ~ .img-slider{left:170px;}
#slider-span2:target ~ .img-slider{left: -110px;}
#slider-span3:target ~ .img-slider{left: -390px;}
#slider-span4:target ~ .img-slider{left: -670px;}
#slider-span5:target ~ .img-slider{left: -950px;}
#slider-span6:target ~ .img-slider{left: -1230px;}
#slider-span7:target ~ .img-slider{left: -1510px;}
#slider-span8:target ~ .img-slider{left: -1790px;}
#slider-span9:target ~ .img-slider{left: -2070px;}




.footer{
    padding: 30px 0 30px ;
    background-color: #085589;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-imgs img{
    max-height: 50px
}
.vigan-footer {
    font-family: 'Barabara', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    text-align:center;
}
.footer-text{
    color:white;
}
#contact-info{
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;
    font-size: 10px;
}

#copyright{
    font-family: 'League Spartan', sans-serif;
    font-size: 10px;
    margin-top: 20px;
}

}